//@use 'sass:math';
@import '../../styles/component';

:host {
  --backdropOpacity: 0.4;

  display: block;
  position: absolute;
  z-index: 2147483647;
  inset: 0;

  visibility: visible !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;

  .backdrop {
    position: fixed;
    inset: 0;
    opacity: 0;
    background: black;
  }

  .overlay {
    opacity: 0;
  }
}
