html {
  scroll-padding-top: 4.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: $v-light-color-emphasize;
}

h1,
.h1,
h1,
.h2,
h3,
.h3 {
  letter-spacing: -2px;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  letter-spacing: -0.5px;
}

a {
  text-decoration-thickness: 0.5px !important;
  text-underline-offset: 2px !important;
}

.lead {
  letter-spacing: -1px;
}

p:last-child,
ul:last-child,
ol:last-child {
  margin-bottom: 0;
}

.call-out {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 300;
  padding: 0.5rem 2rem;
  border-left: 4px solid #0050ff;
  max-width: 600px;
  line-height: 1.6;
  margin: 2rem 0;
}
