//
// Footer
//

.useful-links {
  --color: rgba(255, 255, 255, 0.8);

  background-color: rgb(52 58 64 / 0.81);
  color: var(--color);

  .h5 {
    color: var(--color);
  }

  a {
    color: var(--color);
    text-decoration: underline;
    text-decoration-style: dotted;

    &:hover,
    &:active,
    &:focus {
      color: fade-out($white, 0.1);
      text-decoration: underline;
    }
  }

  .useful-links-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 0;

    li {
      display: flex;
      align-items: baseline;
      gap: 0.75rem;
    }

    .bi {
      flex-shrink: 0;
      width: 1.25em;
      color: fade-out($white, 0.4);
      text-align: center;
    }
  }
}

// Styling for links in the footer
footer {
  a {
    color: fade-out($white, 0.3);
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      color: fade-out($white, 0.1);
      text-decoration: underline;
    }
  }
}

.bg-gray {
  background-color: $gray-800;
}
